<h1 style="color:rgb(255, 34, 0);">Chat</h1>
<br>

<script src="/js/chat.js"></script>
<form onsubmit="return agregarMensaje(this)">
    <label for="mail"><i><b>Ingrese su Mail</b></i></label>
    <input id="mail" class="form-control" type="text" name="mail" required/>
    <hr>
    <div id="mensajes" style="height:450px;overflow-y: scroll;"></div>

    <div class="input-group">
        <input id="mensaje" type="text" class="form-control" name="mensaje" placeholder="Ingresa la consulta por su título favorito..." required/>
        <span class="input-group-btn">
            <input type="submit" class="btn btn-primary" value="CONSULTAR">
        </span>
    </div>

</form>


<div id="chat"></div>