

{{#if productos }}
<div class="table-responsive">
    <table class="table table-dark">
        <tr style="color: white;">
            <th>Titulo película</th>
            <th>Precio</th>
            <th>Portada</th>
        </tr>
        {{#each productos }}
        <tr>
            <td>{{this.title}}</td>
            <td>${{this.price}}</td>
            <td><img src="{{this.thumbnail}}" style="max-height:100%; max-width:100%"></td>
        </tr>
        {{/each}}
    </table>
</div>
{{ else }}
<h3 class="alert alert-warning">No se encontraron películas</h1>
{{/if}}